/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/09/2016, 02:40:56 PM
    Author     : Escritorio
*/

body{
    
    background-image: url("zzz.png");
}
#container{
    
    text-align:center;
    
    font-family: Helvetica;
    
     margin-left: 30%;
    
    margin-right: 30%;
 
}



#cuadro{
    
}

input{
    
    background: rgba(255,255,255,0.5);
}
